In [1]:
import pandas as pd

In [8]:
crime_data1 ="data/COBRA-2021-9-8.csv"

In [11]:
crime_df1 = pd.read_csv(crime_data1, encoding="ISO-8859-1")
crime_df1.head()

,offense_id,rpt_date,occur_date,occur_day,occur_day_num,occur_time,poss_date,poss_time,beat,zone,location,ibr_code,UC2_Literal,neighborhood,npu,lat,long
0,212450076,9/2/21,9/2/21,Thursday,5.0,0:56,9/2/21,1:00,309,3,"2477 METROPOLITAN PKWY SW\nATL, GA 30315\nUNIT...",23C,LARCENY-NON VEHICLE,Perkerson,X,33.687106,-84.408623
1,212450091,9/2/21,9/2/21,Thursday,5.0,0:15,9/2/21,1:00,601,6,"798 SAINT CHARLES AVE NE\nATLANTA, GA 30306\nU...",23F,LARCENY-FROM VEHICLE,Virginia Highland,F,33.775779,-84.361153
2,212450109,9/2/21,9/2/21,Thursday,5.0,1:18,9/2/21,2:00,207,2,"1700 NORTHSIDE DR NW\nATL, GA 30318\nUNITED ST...",240,AUTO THEFT,Berkeley Park,D,33.800766,-84.408690
3,212450353,9/2/21,9/2/21,Thursday,5.0,4:19,9/2/21,4:30,411,4,"3030 HEADLAND DR SW\nATLANTA, GA 30311\nUNITED...",23F,LARCENY-FROM VEHICLE,Greenbriar,R,33.687056,-84.487601
4,212450388,9/2/21,9/2/21,Thursday,5.0,4:30,9/2/21,5:00,401,4,"854 OAK ST SW\nATL, GA 30310\nUNITED STATES",23F,LARCENY-FROM VEHICLE,West End,T,33.740539,-84.416820

In [12]:
crime_df1.count()

offense_id       15665
rpt_date         15665
occur_date       15657
occur_day        15657
occur_day_num    15657
occur_time       15657
poss_date        15340
poss_time        15340
beat             15665
zone             15665
location         15665
ibr_code         15665
UC2_Literal      15665
neighborhood     14928
npu              15466
lat              15665
long             15665
dtype: int64

In [17]:
crime_df1.dtypes
#convert rpt_data, occur_date, occur_time, poss_date, poss_time to datetime64
#convert offense_id, beat, and zone to objects

offense_id         int64
rpt_date          object
occur_date        object
occur_day         object
occur_day_num    float64
occur_time        object
poss_date         object
poss_time         object
beat               int64
zone               int64
location          object
ibr_code          object
UC2_Literal       object
neighborhood      object
npu               object
lat              float64
long             float64
dtype: object

In [18]:
#overview of UC2_Literal
crime_df1['UC2_Literal'].value_counts()
#odd that there are no sex or drug offenses. What's going on?

LARCENY-FROM VEHICLE    6413
LARCENY-NON VEHICLE     3511
AUTO THEFT              2339
AGG ASSAULT             1726
BURGLARY                 998
ROBBERY                  577
HOMICIDE                 101
Name: UC2_Literal, dtype: int64

In [19]:
crime_df1['ibr_code'].value_counts()
#matching values for codes present: Theft from Motor Vehicle, Motor Vehicle Theft, All Other Larceny, Aggravated Assault, 220?, Shoplifting, Robbery, Theft from Building, Theft of Mortor Vehicle Parts or Accessories, Murder and Non-Negligent Manslaughter, Purse-snatching, Theft from Coin-Operated Machine or Device, Pocket-picking, Negligent Manslaughter

23F    6107
240    2339
23H    2028
13A    1726
220     998
23C     921
120     577
23D     494
23G     306
09A      96
23B      42
23E      16
23A      10
09B       5
Name: ibr_code, dtype: int64